* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

p a {
    display: inline;
}

img,
picture,
video,
iframe {
    display: block;
    width: 100%;
    /* height: initial; */
}

form,
input,
label,
select,
option,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
    display: block;
    background-color: transparent;
}

:root {
    font-size: 100%;
    --color-verd-claret: #f1fd87;
    --color-verd: #c9df04;
    --color-verd-oscur: #6bbf7a;
    --color-blau-claret: #85bcff;
    --color-blau-oscur: #0074ff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Grotesk", sans-serif;
    /* font-family: "Barlow", sans-serif; */
}



/**************** FIN RESET *****************/

/* arrow up */
.arrow__up {
    width: 4vh;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 3;
}

/******************* HEADER ******************/

.header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    z-index: 2;

    border-bottom: 1px solid black;
}

.header__h1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2em;
    display: inline-flex;
    align-items: center;
}

.header__btn {
    display: none;
    font-size: 1.4em;
}

.header__h1::after {
    content: "";
    display: inline-block;
    width: .0625rem;
    height: 2rem;
    background-color: black;
    margin-left: 1rem;
    /* espacio entre el texto y la rayita */
}

.header__nav {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav__ul {
    font-size: 1.2em;
    font-weight: 900;
    /* background-color: darkgray; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2.6vw;
    margin-left: 5rem;
}


.hover__underline {
    transition: all .2s ease-in-out;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hover__underline::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #000204;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.hover__underline:hover::after {
    /* text-decoration: underline; */
    width: 100%;
}

.header__div__second {
    height: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    font-weight: 400;

}

.header__div__second li {
    height: 100%;
    font-size: .8em;
    border-left: 1px solid black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0 1rem;
}

.header__div__second li .header__btn {
    display: none;
    padding-left: 1rem;
    font-size: 2rem;

    cursor: pointer;
}

.hover__weight:hover {
    font-weight: bold;
}

.header__div__mobile {
    display: none;
}


/************* DESPLEGABLE BUSCAR *************/

.dropdown__buscar {
    position: relative;
}

.dropdown__menu__buscar {
    width: 20rem;
    min-height: 50vh;
    font-family: "Barlow", sans-serif;
    border: 1px solid black;
    text-transform: uppercase;
    position: absolute;
    top: 102%;
    /* debajo del enlace principal */
    left: 0;

    background-color: white;
    /* list-style: none; */
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;

    /* transición */
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease;
}

.dropdown__menu__buscar li {
    padding: 1rem 1rem;

}

.dropdown__buscar:hover .dropdown__menu__buscar {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


.dropdown__buscar:hover .dropdown__menu__buscar li {
    border: none;
}

.contenedor__text {
    width: 100%;
    min-height: 80vh;
    font-size: 3vw;
    background-color: var(--color-verd);
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.contenedor__text p:nth-of-type(1) {
    font-size: .4em;
}

.contenedor__text p:nth-of-type(3) {
    font-size: .4em;
}



/************* desplegable Xarxes Socials *************/

.dropdown {
    position: relative;
}

.dropdown__menu {
    width: 100%;
    font-family: "Barlow", sans-serif;
    border: 1px solid black;
    text-transform: uppercase;
    position: absolute;
    top: 102%;
    /* debajo del enlace principal */
    left: 0;
    background-color: white;
    /* list-style: none; */
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;

    /* transición */
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.dropdown__menu li {
    padding: 1rem 1rem;
}

.dropdown:hover .dropdown__menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}


.dropdown:hover .dropdown__menu li {
    border: none;
}


/******************* FIN HEADER ******************/



/******************* INICI MAIN ******************/

.main {
    position: relative;
}

.wrapper__window__iquemes {
    width: 100%;
    color: var(--color-verd);
    min-height: 94.9vh;
    background-color: rgb(0, 0, 0);
    margin-top: 3rem;

    position: relative;
    overflow: hidden;
    top: 0;
    z-index: 1;
    display: none;
}



.wrapper__window__iquemes.isActive {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.p__iquemes {
    width: 70%;
    font-size: 7vw;
    font-weight: 900;
    text-align: center;
    line-height: 1.2em;
    /* text-transform: uppercase; */
}


.wrapper__infinitetext {
    width: 100%;
}

.infinitetext {
    white-space: nowrap;
    position: relative;
    top: 0;
    font-size: 2em;
    animation: scrollText 64s ease infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(-50%);
        /* Empieza fuera de la pantalla, en el extremo derecho */
    }

    100% {
        transform: translateX(100%);
        /* Termina fuera de la pantalla, en el extremo izquierdo */
    }
}



.wrapper__principal {
    width: 100%;
    /* min-height: 90vh; */
    /* background-color: rgb(187, 203, 238); */
    margin-top: 3rem;

    position: relative;
}

.principal__h2 {
    width: 100%;
    text-align: center;
    font-size: 40vw;
    color: aliceblue;
    display: inline-block;
    line-height: .9;

    color: transparent;
    -webkit-text-stroke: 2px black;
    font-weight: bold;
}

.principal__p__text {
    width: 35vw;
    font-size: 1.5em;
    font-weight: 600;
    /* background-color: yellow; */
    margin-top: 2em;
}

.wrap__texth2 {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.principal__gif {
    min-width: 35%;
    /* background-color: rebeccapurple; */
    margin: 0 auto;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);

}


/* WRAPPER SECTION 01 */


.wrapper__section__01 {
    width: 94%;
    margin: 0 auto;
    margin-top: 4rem;
}

.h3__title__section__01 {
    font-weight: 400;
    margin-bottom: .5rem;
}

.wrapper__grid__section__01 {
    width: 100%;
    display: grid;
    border-top: solid 1px black;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
    /* gap: 1rem; */
    /* grid-row-gap: 1rem; */
}

.grid__section__01 {
    position: relative;
}

.grid__section__01 {
    border-bottom: solid 1px black;
}

.wrapper__principalinfo {
    margin-top: 1rem;
    padding: 1rem 1rem 0 1rem;
}

.wrapper__secondinfo {
    padding: .4rem 1rem .4rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.wrapper__secondinfo button {
    border: 1px solid black;
    border-radius: 2rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.wrapper__principalinfo img {
    border-radius: 2rem 2rem 0 0;
    opacity: 0;
    transition: all ease .3s;
}

.wrapper__principalinfo:hover .wrap__img img {
    opacity: 1;
}

.wrapper__principalinfo .wrap__info {
    opacity: 1;
    transition: all ease 0.3s;
}

.wrapper__principalinfo:hover .wrap__info {
    opacity: 0;
}


.wrap__info {
    font-size: 2vw;
    position: absolute;
    top: 2rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.border__principalinfo {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.date--green {
    color: #cfe31e;
}


.date--blue {
    color: #0074ff;
}

/* WRAPPER SECTION 02 */

.wrapper__section__02 {
    width: 100%;
    min-height: 100vh;
    margin-top: 4rem;
    position: relative;
    overflow: hidden;
}

.wrap__img__section__02 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/fuck_buit.png') no-repeat center center;
    background-size: cover;
    pointer-events: none;
    z-index: 2;
    transition: transform 1.1s linear;
}


.p__section__02 {
    padding: 1rem;
    font-size: 2.7vw;
    /* position: relative; */
}

.calceti {
    color: var(--color-blau-oscur);
    font-weight: bold;
}

.brillar {
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px black;
    font-weight: bold;

}

.plantes {
    color: var(--color-verd-claret);
    background-color: var(--color-verd-oscur);
    font-weight: bold;
}

.experimental {
    display: inline-block;
    color: var(--color-blau-claret);
    animation: experimenta 5s linear infinite;
    font-weight: bold;

}

@keyframes experimenta {
    0% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
        background-color: var(--color-verd-claret);
    }
}

.universos {
    font-weight: bold;
    color: var(--color-verd-oscur);
}

.absurd {
    text-decoration: underline;
}

.anar {
    transition: all 0.1s ease;
}

.anar:hover {
    background-color: black;
    color: white;
    transform: scale(1.05, 1.05);
}

/****************************** FIN MAIN ******************************/


/****************************** INICIO FOOTER ******************************/

.footer {
    color: white;
}

.wrap__footer {
    width: 100%;
    background-color: var(--color-blau-oscur);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
}

.footer__imgs__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrap__footer__p {
    width: 100%;
}

.footer__p {
    font-size: 25vw;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;


    line-height: .9;
}

.wrap__footer__info {
    width: 98%;
    min-height: 26vh;
    font-size: .8em;
    margin-top: 2em;
    margin-bottom: 2rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.footer__direction {
    text-transform: uppercase;
    margin-bottom: .5rem;

}

.footer__correo {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.footer__xarxes {
    text-align: center;
}

.xarxes {
    margin-bottom: 1.5rem;
    color: var(--color-verd-claret);
}

.fa-linkedin {
    margin-left: 1rem;
}

.footer__frase {
    max-width: 25%;
    font-size: .8em;
    color: var(--color-blau-claret);
    text-align: center;
}

.subr {
    text-decoration: underline;
}

/****************************** FIN FOOTER ******************************/

/****************************** MEDIA QUERIES ******************************/

@media (max-width: 1200px) {
    .header {
        min-height: 3rem;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        z-index: 3;
    }


    .header__h1 {
        padding-left: 1rem;
    }

    .header__nav {
        width: 100%;
        display: none;
    }

    .header__nav.isActive {
        display: block;
    }


    .nav__ul {
        color: white;
        width: 100%;
        height: 100vh;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.6em;
        position: absolute;
        margin-left: 0;

    }

    .header__btn {
        color: black;
        display: block;
        padding-right: 1rem;
        cursor: pointer;
    }

    .nav__ul li {
        font-size: 1.4em;
        font-weight: 600;
    }

    .padding-top {
        margin-top: -3em;
    }

    .header__div__second {
        display: none;
    }

    .prova {
        margin-top: -7rem;
    }



    .header__div__mobile {
        width: 100%;
        min-height: 100vh;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        font-size: 2.7vw;
        font-weight: 300;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        color: var(--color-verd);
        text-align: center;
        margin-top: 3rem;
        margin: 0 auto;
    }



    .header__div__mobile li {
        font-size: .9em;
    }

    .header__div__mobile li {
        padding: 0 1rem;
    }

    .header__div__mobile li {

        border-left: 1px solid var(--color-verd);

    }

    .quemes {
        border-right: 1px solid var(--color-verd);
    }

    .hover__underline::after {

        background-color: var(--color-verd);

    }

    /* Wrapper__principal */

    .wrap__texth2 {
        min-height: 64vh;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }


    .principal__h2 {

        margin-top: 7vh;
        font-size: 16vw;
        -webkit-text-stroke: 1px black;
    }

    .principal__p__text {
        width: 75vw;
        font-size: 1em;
        font-weight: 600;
        text-align: center;
    }

    .principal__gif {
        width: 50vh;
        max-width: 80vw;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    /* SECTION 01 */

    .wrapper__grid__section__01 {
        grid-template-columns: repeat(1, 1fr);
    }

    .border__principalinfo {
        border-left: 0;
        border-right: 0;
    }

    .wrap__info {
        font-size: 6vw;
    }

    /* SECTION 02 */

    .p__section__02 {
        font-size: 2.3em;
    }


    /* FOOTER */

    .wrap__footer__info {
        margin-top: 0;
        min-height: 30vh;
        margin-bottom: 5rem;
    }

    .footer__imgs__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__p {
        font-size: 33vw;
        line-height: 1.5;
    }

    .footer__xarxes {
        margin-top: 1.5em;
        font-size: 1.5em;
    }

    .footer__frase {
        margin-top: 1.5em;
        max-width: 70%;
        font-size: .9em;
    }

    .arrow__up {
        width: 5vh;
        bottom: 2rem;
        right: 1rem;
        z-index: 3;
    }
}

@media (min-width: 970px) and (max-width: 1500px) {
    .p__section__02 {
        font-size: 2.5em;
    }
}

/* FIN MEDIA QUERIES */

/* FIN PÁGINA PRINCIPAL */


/**************************** INICIO PÁGINA AGENDA ****************************/

.section__01_agenda {
    margin-top: 5.5rem;
}

.wrapper__principalinfo__agenda img {
    opacity: 1;
}

.wrap__info__agenda {
    position: relative;
    top: 0;
    margin-top: 1rem;
    font-size: 2.3vw;
}

.wrapper__principalinfo:hover .wrap__info__agenda {
    opacity: 1;
}

.grid__agenda {
    width: 97%;
}

.wrapper__principalinfo__agenda img {
    border-radius: 0;

}


.grid__section__01__agenda:hover {
    background-color: var(--color-blau-oscur);
}

.hover__agenda:hover {
    background-color: var(--color-verd-oscur);
}


.grid__section__01__agenda:hover .wrap__img img {
    transform: scale(.97, .97);
    transition: transform 0.3s ease;
}

.grid__section__01__agenda:hover .wrap__info__agenda {
    transform: translate(.5rem, -.5rem);
    transition: transform 0.3s ease;
    color: white;
}


.grid__section__01__agenda:hover .wrap__info__agenda .date--white {
    color: white;
}


.grid__section__01__agenda:hover .wrapper__secondinfo__agenda {
    transform: translate(.5rem, -.5rem);
    transition: transform 0.3s ease;
    color: white;
}

.grid__section__01__agenda:hover .wrapper__secondinfo__agenda .button {
    border-color: white;
    color: white;
}

.button {
    border: 1px solid black;
    padding: 0.5em 1em;
    border-radius: 10em;
}

.button,
.info {
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.1, 1.1);
}

.info:hover {
    transform: scale(1.1, 1.1);

}


/* PAGINACIÓN AGENDA */

.pagination__agenda {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    /* font-family: 'Bricolage Grotesque', sans-serif; */
    font-size: 1.65em;
    margin-top: 1.87em;
    user-select: none;
}

.pagination__agenda .page-number {
    cursor: pointer;
    padding: 4px 8px;
    transition: color 0.2s;
}

.pagination__agenda .page-number:hover {
    color: var(--color-blau-claret);
}

.pagination__agenda .active {
    font-weight: bold;
    text-decoration: underline;
}

.pagination__agenda .arrow {
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    padding: 0 8px;
}

.pagination__agenda .arrow.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}


/* MEDIA QUERIES PÁGINA AGENDA */

@media (max-width: 1200px) {
    .wrap__info__agenda {
        font-size: 6vw;
    }
}

/**************************** FIN PÁGINA AGENDA ****************************/


/**************************** INICIO PÁGINA EVENTOS--FRESH ********************************************************************/

.header__eventos {
    background-color: var(--color-blau-oscur);
}

.wrapper__section__eventos {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-blau-oscur);
    margin-top: 3em;

    display: grid;
    grid-template-columns: 1.5fr 1.9fr 1.5fr;
    gap: 2rem;
   
    padding: 10rem 2rem 3rem 2rem;
}

.div__eventos {
    width: 100%;
    min-height: 20vh;
}

.--margin__footer {
    margin: 0;
}

.eventos--02 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.wrapper__img__eventos {
    width: 100%;
    height: 40rem;
    background-image: url("../assets/posters/1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0 0;
}

.eventos--01{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 10vh;
}

.eventos, .kies{
    font-size: 1.5em;
    text-transform: uppercase;
}

.nombre__princip{
    font-size: 4.2vw;
}

.eventos__date{
    font-size: 2em;
}

.eventos__hora, .eventos__direction{
    font-size: 1.5em;
}


.kies{
    margin-bottom: .5rem;
}

.kies__titol{
    margin-bottom: 2rem;
}

.eventos--03{

display: flex;
flex-flow: column nowrap;
justify-content: flex-start;
align-items: flex-start;

}

.kiespadding{
    padding-bottom: 1rem;
}

/****************************** MEDIA QUERIES FRESH ******************************/

@media (max-width: 1200px) {

.wrapper__section__eventos {
  
    grid-template-columns: repeat(1, 1fr);
    
}

.wrapper__section__eventos {
    
    margin-top: -1rem;

  
}

.nombre__princip{
    font-size: 10vw;
}

.eventos--01{
    padding-bottom: 4vh;
    margin-bottom: -3rem;
}
.wrapper__img__eventos {
    
    background-image: url("../assets/posters/1_s.webp");
   
}
}
   

/**************************** FIN PÁGINA EVENTOS--FRESH ********************************************************************/




/**************************** INICIO PÁGINA EVENTOS--CRIOLO *****************************************************************/

.header__eventos--verd{
background-color: var(--color-verd-oscur);
}

.wrapper__eventos--verd{
    background-color: var(--color-verd-oscur);
}

.img--criolo {
    width: 100%;
    height: 40rem;
    background-image: url("../assets/posters/2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0 0;
}

/****************************** MEDIA QUERIES CRIOLO ******************************/


@media (max-width: 1200px) {

.img--criolo {
    background-image: url("../assets/posters/2_s.webp");
    width: 100%;
    /* min-height: 100%; */
}
.wrapper__img__eventos {
    width: 100%;
    background-size:contain;
    background-repeat: no-repeat;
}
}




/**************************** FIN PÁGINA EVENTOS--CRIOLO *****************************************************************/
