* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

p a {
    display: inline;
}

img,
picture,
video,
iframe {
    display: block;
    width: 100%;
    /* height: initial; */
}

form,
input,
label,
select,
option,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
    display: block;
    background-color: transparent;
}

:root {
    font-size: 100%;
    --color-verd: rgb(212, 255, 0);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Grotesk", sans-serif;
    /* font-family: "Barlow", sans-serif; */
}



/**************** FIN RESET *****************/



/******************* HEADER ******************/

.header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    z-index: 2;

    border-bottom: 1px solid black;
}

.header__h1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2em;
    display: inline-flex;
    align-items: center;
}

.header__btn {
    display: none;
    font-size: 1.4em;
}

.header__h1::after {
    content: "";
    display: inline-block;
    width: .0625rem;
    height: 2rem;
    background-color: black;
    margin-left: 1rem;
    /* espacio entre el texto y la rayita */
}

.header__nav {
    position: relative;
}

.nav__ul {
    font-size: 1.2em;
    font-weight: 900;
    width: 80vw;
    /* background-color: darkgray; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-left: 5rem;
}

.hover__underline {
    transition: all .2s ease-in-out;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hover__underline::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #000204;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.hover__underline:hover::after {
    /* text-decoration: underline; */
    width: 100%;
}

.header__div__second {
    height: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    font-weight: 400;

}

.header__div__second li {
    height: 100%;
    font-size: .8em;
    border-left: 1px solid black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0 1rem;
}

.header__div__second li .header__btn {
    display: none;
    padding-left: 1rem;
    font-size: 2rem;

    cursor: pointer;
}

.hover__weight:hover {
    font-weight: bold;
}

.header__div__mobile {
    display: none;
}


/************* DESPLEGABLE BUSCAR *************/

.dropdown__buscar {
    position: relative;
}

.dropdown__menu__buscar {
    width: 20rem;
    min-height: 50vh;
    font-family: "Barlow", sans-serif;
    border: 1px solid black;
    text-transform: uppercase;
    position: absolute;
    top: 102%;
    /* debajo del enlace principal */
    left: 0;

    background-color: white;
    /* list-style: none; */
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;

    /* transición */
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease;
}

.dropdown__menu__buscar li {
    padding: 1rem 1rem;

}

.dropdown__buscar:hover .dropdown__menu__buscar {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


.dropdown__buscar:hover .dropdown__menu__buscar li {
    border: none;
}

.contenedor__text {
    width: 100%;
    min-height: 80vh;
    font-size: 3vw;
    background-color: var(--color-verd);
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.contenedor__text p:nth-of-type(1) {
    font-size: .4em;
}

.contenedor__text p:nth-of-type(3) {
    font-size: .4em;
}



/************* desplegable Xarxes Socials *************/

.dropdown {
    position: relative;
}

.dropdown__menu {
    width: 100%;
    font-family: "Barlow", sans-serif;
    border: 1px solid black;
    text-transform: uppercase;
    position: absolute;
    top: 102%;
    /* debajo del enlace principal */
    left: 0;
    background-color: white;
    /* list-style: none; */
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;

    /* transición */
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.dropdown__menu li {
    padding: 1rem 1rem;
}

.dropdown:hover .dropdown__menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}


.dropdown:hover .dropdown__menu li {
    border: none;
}


/******************* FIN HEADER ******************/



/******************* INICI MAIN ******************/

.main {
    position: relative;
}

.wrapper__window__iquemes {
    width: 100%;
    color: var(--color-verd);
    min-height: 94.9vh;
    background-color: rgb(0, 0, 0);
    margin-top: 3rem;

    position: relative;
    overflow: hidden;
    top: 0;
    z-index: 1;
    display: none;
}



.wrapper__window__iquemes.isActive {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.p__iquemes {
    width: 70%;
    font-size: 7vw;
    font-weight: 900;
    text-align: center;
    line-height: 1.2em;
    /* text-transform: uppercase; */
}


.wrapper__infinitetext {
    width: 100%;
}

.infinitetext {
    white-space: nowrap;
    position: relative;
    top: 0;
    font-size: 2em;
    animation: scrollText 64s ease infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(-50%);
        /* Empieza fuera de la pantalla, en el extremo derecho */
    }

    100% {
        transform: translateX(100%);
        /* Termina fuera de la pantalla, en el extremo izquierdo */
    }
}



/****************************** MEDIA QUERIES ******************************/

@media (max-width: 1200px) {
    .header {
        min-height: 3rem;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        z-index: 3;
    }


    .header__h1 {
        padding-left: 1rem;
    }

    .header__nav {
        width: 100%;
        display: none;
    }

    .header__nav.isActive {
        display: block;

    }


    .nav__ul {
        color: white;
        width: 100%;
        height: 100vh;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.6em;
        position: absolute;
        margin-left: 0;
    }

    .header__btn {
        color: black;
        display: block;
        padding-right: 1rem;
        cursor: pointer;
    }

    .nav__ul li {
        font-size: 1.4em;
        font-weight: 600;
    }

    .header__div__second {
        display: none;
    }

    .prova {
        margin-top: -7rem;
    }

    .header__div__mobile {
        text-transform: uppercase;
        font-size: 2.7vw;
        font-weight: 300;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        color: var(--color-verd);
        text-align: center;
        margin-top: 3rem;


        /* flex-direction: column; */
    }

    .header__div__mobile li {
        font-size: .9em;
    }

    .header__div__mobile li {
        padding: 0 1rem;
    }

    .header__div__mobile li {

        border-left: 1px solid var(--color-verd);

    }

    .quemes {
        border-right: 1px solid var(--color-verd);
    }

    .hover__underline::after {

        background-color: var(--color-verd);

    }

}